{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-[#1a191f] min-h-screen text-white font-sans flex justify-center pt-20 pb-10">

    <div class="w-[1375px] bg-[#13161d] text-[#9b9dab] rounded-t-[12px]">
        <header class="bg-teal-600 p-4 flex justify-between items-center rounded-t-[12px]">
            <div class="flex items-center space-x-3">
                <button class="text-white text-[22px]"><i class="fa-solid fa-bars"></i></button>
                <a href="{% url 'home' %}">
                    <button class="text-white text-[20px]"><i class="fa-solid fa-house"></i></button>
                </a>
                <h1 class="text-xl text-white">Eng so'nggi 2025 Tarjima Kinolar</h1>
            </div>
            <div class="flex space-x-4">
                <button><i class="fa-solid fa-calendar-day text-[20px] text-white"></i></button>
                <button><i class="fa-solid fa-magnifying-glass text-[20px] text-white"></i></button>
            </div>
        </header>

        <main class="p-6">


            <div class="mb-6">
                <h1 class="text-2xl font-bold mb-2">Yerga gaylish / Zaminga tushish 2001 Uzbek ülida O'zbekcha tarjima
                    kino Full HD tas-ix skachat</h1>
                <h2 class="text-xl font-bold text-teal-400 mb-4">YERGA QAYNISH</h2>
            </div>

            <div class="mb-8 ">
                <div class="gap-4 flex">
                    <div class="rounded-t shadow-b-lg shadow-[#000] overflow-hidden w-[335px]">
                        <div class="relative">
                            <img src="http://asilmedia.org/rasmlar/images/2025/06/09/480xNx8e9727aec4af883694b9bbbf2999fd55.png.pagespeed.ic.9iii9jp7CE.webp"
                                class="w-full h-[470px] object-cover shadow-md ">
                            <div class="absolute top-2 left-2 bg-black bg-opacity-60 px-2 py-1 text-xs rounded">
                                480p | 720p | 1080p <br> 2-fasl 2-qism
                            </div>
                            <div class="absolute top-2 right-2 bg-yellow-400 text-black text-sm px-2 py-1 rounded">★ 619
                            </div>
                        </div>
                        <div class="pt-2 text-white">
                            <button class="w-full bg-[#009586] text-center py-2 rounded"><i
                                    class="fa-solid fa-play text-[20px] text-white"></i> O'NLINE KORISH</button>
                            <button class="w-full bg-[#008799] text-center py-2 mt-2 rounded"><i
                                    class="fa-solid fa-download"></i> YUKLAB OLISH</button>
                        </div>
                    </div>

                    <div class="space-y-4 text-[#c3c4ca] w-[975px]">
                        <h3 class="text-lg font-bold mb-3">FILM HAGIDA QISQACHIA:</h3>
                        <p>Bizning olanimizda hech narsa mukammal emas. Ma'tun bo'lisincha, Hatto Osmon
                            Kantesiyariyasida ham afsusli katoliklar bo'lib turar ekan. O'zingiz o'ylab ko'ring:
                            isteboli, yosh va itgkotri gora tani improvization komediyachi Lens Barton to'sadan vattot
                            etadi ya jamafga tushadi. Ammo osmonlar bag'rida amglanadiki, bu — taqdiny zatolik edi.</p>
                        <p>Asida Lens yana qira yil yashab, soch-sopdi oparran payida dunyodan ko'z yumishi kerak edi.
                            Eridi nima qilish kerak? Jamasi bog'lanining jozibali menejeri jando King Bartoming Yerga
                            gaylishini takif qiladi — hayotta o'ziga ajratligan muddami to'lig orlab chigishi uchun.
                            Ammo ayni vagida Bartoming asi jasad aliaqachon foydalanehpa yaroqsic bo'lib qoigan edi.
                            Natijada, Lensning ruhi ochko'z, g'azabnok va eng mulmini — eq tani bir qariyaning tanasiga
                            joylaehitriladi.</p>
                        <p>Bedrona Lensga hech kim havas elinasdi, agar o'sha qanya Amerikadagi eng boy odamlardan biri
                            bo'lingganidai Ruh ko'digan payidan bosihab zararlı cholning hayoti bulunlay o'zgaradi.
                            Eridi bu yoshi kalta, judiy miliarder tinmay kuladi, gangsta rep eshiladi, arzon
                            sendivichxonalarda tushik qiladi va yosh gora tani qizlarga ko'z likadi.</p>

                        <div class="mb-8 flex">
                            <div class="w-[477px]">
                                <p class="mb-2"><span class="font-bold">ЖАНРЫ:</span> <span
                                        class="text-[#009586]">фэнтези, комедия</span></p>
                                <p class="mb-2"><span class="font-bold">AKTEPH:</span> <span class="text-[#009586]">Крис
                                        Рок, Реджина Кинг, Чаэз
                                        Пальмингерн, Юджин Леви, Франки Фэйзон, Марк Эдди, Грег Джерманн, Дженнифер
                                        Кулидж,
                                        Ванда Сайкс, Джон Чо</span></p>
                            </div>
                            <p class="mb-2"><span class="font-bold">PENKICCEP:</span> <span class="text-[#009586]">Крис
                                    Вайц, Пол Вайц</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="bg-[#13161d] text-white">
            <div class="container px-4 mt-4">
                <div class="relative">
                    <video id="videoPlayer" class="w-full rounded-md" controls
                        poster="{% static 'videos/6956154-hd_1920_1080_30fps.jpg' %}">
                        <source src="{% static 'videos/6956154-hd_1920_1080_30fps.jpg' %}" type="video/mp4">
                        Sizning brauzeringiz video tagini qo'llab-quvvatlamaydi.
                    </video>
                    <div class="text-center mt-8">
                        <p>👇Iltimos, pastdan FILM SIFATINI tanlang!👇</p>
                        <div class="text-center mt-2">
                            <select id="qualitySelect"
                                onchange="document.getElementById('notasix456').src=this.options[this.selectedIndex].value;"
                                class="text-[#99b1d4] bg-[#24303d] border-2 border-yellow-400 rounded-lg px-3 py-2 shadow-md text-sm font-semibold focus:outline-none"
                                style="max-width: 200px;">
                                <option value="">480p
                                </option>
                                <option value="">
                                    720p</option>
                                <option value="">
                                    1080p</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container mt-6 px-4">
                <h2 class="text-lg font-semibold mb-2">LAVHALAR</h2>
                <div class="flex items-center justify-between gap-2">
                    <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" alt="lavha" class="w-[429px] h-[150px]">
                    <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" alt="lavha" class="w-[429px] h-[150px]">
                    <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" alt="lavha" class="w-[429px] h-[150px]">
                </div>
            </div>

            <div class="container px-4 mt-10">
                <h2 class="text-lg font-semibold mb-2">TARJIMA KINO</h2>
                <div class="flex items-center justify-between grid grid-cols-5">
                    <div class="">
                        <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" class="w-[255px] h-[392px]">
                        <div class="mb-10 bg-[#1a1b23] w-[251px] h-[61px] p-[8px]">
                            <p class="">YERGA QAYNISH</p>
                            <p class="text-xs ">2019 • Multifilmlar</p>
                        </div>
                    </div>
                    <div class="">
                        <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" class="w-[255px] h-[392px]">
                        <div class="mb-10 bg-[#1a1b23] w-[251px] h-[61px] p-[8px]">
                            <p class="">YERGA QAYNISH</p>
                            <p class="text-xs ">2019 • Multifilmlar</p>
                        </div>
                    </div>
                    <div class="">
                        <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" class="w-[255px] h-[392px]">
                        <div class="mb-10 bg-[#1a1b23] w-[251px] h-[61px] p-[8px]">
                            <p class="">YERGA QAYNISH</p>
                            <p class="text-xs ">2019 • Multifilmlar</p>
                        </div>
                    </div>
                    <div class="">
                        <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" class="w-[255px] h-[392px]">
                        <div class="mb-10 bg-[#1a1b23] w-[251px] h-[61px] p-[8px]">
                            <p class="">YERGA QAYNISH</p>
                            <p class="text-xs ">2019 • Multifilmlar</p>
                        </div>
                    </div>
                    <div class="">
                        <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" class="w-[251px] h-[392px]">
                        <div class="mb-10 bg-[#1a1b23] w-[251px] h-[61px] p-[8px]">
                            <p class="">YERGA QAYNISH</p>
                            <p class="text-xs ">2019 • Multifilmlar</p>
                        </div>
                    </div>
                    <div class="">
                        <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" class="w-[251px] h-[392px]">
                        <div class="mb-10 bg-[#1a1b23] w-[251px] h-[61px] p-[8px]">
                            <p class="">YERGA QAYNISH</p>
                            <p class="text-xs ">2019 • Multifilmlar</p>
                        </div>
                    </div>
                    <div class="">
                        <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" class="w-[251px] h-[392px]">
                        <div class="mb-10 bg-[#1a1b23] w-[251px] h-[61px] p-[8px]">
                            <p class="">YERGA QAYNISH</p>
                            <p class="text-xs ">2019 • Multifilmlar</p>
                        </div>
                    </div>
                    <div class="">
                        <img src="{% static 'img/pexels-pixabay-46160.jpg' %}" class="w-[251px] h-[392px]">
                        <div class="mb-10 bg-[#1a1b23] w-[251px] h-[61px] p-[8px]">
                            <p class="">YERGA QAYNISH</p>
                            <p class="text-xs ">2019 • Multifilmlar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}